/* Un-comment the following, for initial RTL UI support.
.scroll-content {
   direction: rtl; 
   text-align: right;
}
*/
 
 .bar-side-menu {
   background-color: #002b54;
 }
 
 .bar-content {
   background-color: #002b54;
 }
 
 .button.button-positive {
   border-color: #002b54;
   background-color: #002b54;
    color: #fff;
 } 
 
 .item-divider {
   background-color: #fafafa;
 }
 
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #e3dfd6; 
}
th { 
  background: #002b54; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

